#content{  min-height:700px; margin-top:0;  position:static;  background-color:#fff; 
padding-bottom: 50px; }

#content h2{position:absolute; left:9999%; width:1px; height:1px; overflow:hidden; font-size:0; line-height:0;}
#content h3{font-size:50px; font-weight:normal; text-align:center; padding:70px; 
	letter-spacing:5px; color:#0f94e1; border-bottom:5px solid #0f94e1; margin-bottom:10px;}
#content .breadInner{width:100%;  border-top:1px solid #ddd;  border-bottom:1px solid #ddd; background-color:#f1f1f1;}
#content .breadcrumb{width:1000px; margin:0 auto;  height:40px;}
#content .breadcrumb li{display:inline; padding:10px 20px; border-right:1px solid #ddd; }
#content .breadcrumb .gohome{border-left:1px solid #ddd; vertical-align:middle;}
#content .breadcrumb .gohome img{width:20px;}
#content .breadcrumb li a{line-height:40px; width:100%; height:100%; font-weight:bold; font-size:13px;}
#content .breadcrumb .breadDown img{width:10px; margin-left:5px; vertical-align:middle;}

#content .subnav {
    overflow: hidden;
    margin-top: -105px;
    margin-bottom: 75px;
}
#content .subnavL a, #content .subnavR a{color:#666;}
#content .subnavL{ display:inline-block;  float:left;  width:100px; height:30px;  }
#content .subnavL a{display:block; width:100%; height:100%; padding-left:30px; 
	background:#fff url("../image/subnav_arr01.png") no-repeat left center;}
#content .subnavR{ display:inline-block;  float:right;  width:100px; height:30px; }
#content .subnavR a{display:block; width:100%; height:100%; 
 background: #fff url("../image/subnav_arr02.png") no-repeat right center; text-indent:3em;}


#content .galleryInner{width:1000px; margin:0 auto 50px ; }

#content .galleryList{overflow:hidden; margin:0 auto; }
.boxgrid{ width:333.33px; float:left; position:relative; overflow:hidden; height:300px;
color:white; text-align:center;  }

.boxgrid>a{display:block;  text-align:center; width:100%; height:100%;}

.boxgrid>a img{position: absolute; top: 0; left: 0; border: 0; width:100%;}
.boxgrid dt{color:#fff;   font-size:24px;   margin-bottom:10px;  padding: 15px 0; 
	background-color:#0f94e1;}
.boxgrid dl a{color:#fff; display:block; width:100%; }
.boxgrid dd:nth-child(3){margin-top:30px; }
.boxcaption{ position: absolute; background: #000; 
	height:80%; width: 80%; opacity: .6;  padding:10%;






/* For IE 5-7 */
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
/* For IE 8 */
-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
.caption .boxcaption {top:100%; left: 0}


/*   modal   */
.grayLayer{position:fixed; left:0; top:0; width:100%; height:100%; 
background-color:black; opacity:0.6; }

.overLayer{position:fixed; top:50%; left:50%; width:60%; 
overflow:hidden; text-align:center; z-index:30;}

.overLayer img{width:100%;  }
.closePhoto{position:fixed; right:0; top:0px; z-index:30;}




