#content{  min-height:700px; margin-top:0;  position:static;  background-color:#fff; 
padding-bottom: 50px; }

#content h2{position:absolute; left:9999%; width:1px; height:1px; overflow:hidden; font-size:0; line-height:0;}
#content h3{font-size:50px; font-weight:normal; text-align:center; padding:70px; 
	letter-spacing:5px; color:#0f94e1; border-bottom:5px solid #0f94e1; margin-bottom:10px;}
#content .breadInner{width:100%;  border-top:1px solid #ddd;  border-bottom:1px solid #ddd; background-color:#f1f1f1;}
#content .breadcrumb{width:1000px; margin:0 auto;  height:40px;}
#content .breadcrumb li{display:inline; padding:10px 20px; border-right:1px solid #ddd; }
#content .breadcrumb .gohome{border-left:1px solid #ddd; vertical-align:middle;}
#content .breadcrumb .gohome img{width:20px;}
#content .breadcrumb li a{line-height:40px; width:100%; height:100%; font-weight:bold; font-size:13px;}
#content .breadcrumb .breadDown img{width:10px; margin-left:5px; vertical-align:middle;}

#content .subnav {
    overflow: hidden;
    margin-top: -105px;
    margin-bottom: 75px;
}
#content .subnavL a, #content .subnavR a{color:#666;}
#content .subnavL{ display:inline-block;  float:left;  width:100px; height:30px;  }
#content .subnavL a{display:block; width:100%; height:100%; padding-left:30px; 
	background:#fff url("../image/subnav_arr01.png") no-repeat left center;}
#content .subnavR{ display:inline-block;  float:right;  width:100px; height:30px; }
#content .subnavR a{display:block; width:100%; height:100%; 
 background: #fff url("../image/subnav_arr02.png") no-repeat right center; text-indent:3em;}


#content .cultureInner{width:1000px; margin:0 auto 50px ; }
#content .cultureInner:after{content:""; clear:both; display:block; }
#content .cultureSample{width:100%; height:100%; margin-bottom:30px;}
#content .cultureSample img{width:100%; }

#content article{ margin-bottom:50px; }
#content .wrapperTop article dl{}

#content .wrapperTop dl a{display:block;  overflow:hidden;
border-bottom:1px solid #ddd;         padding: 10px 0 ;  }

#content .a1 a{margin-right: 15px;  }
#content .a2 a{margin-left: 15px;  }

#content  .dlF a{border-top:1px solid #000;}

#content .wrapperTop{overflow:hidden;}
#content .a1, #content .a2{width:50%; float:left;}
#content .a3, #content .a4, #content .a5{width:100%; }

#content .wrapperTop dt{ width: 130px; float:left; }
#content .wrapperTop dt img{width:100%; margin-bottom:-6px;}
#content .wrapperTop dd{ margin-left:150px; }
#content .wrapperTop strong, #content article span{display:block;}
#content .wrapperTop strong{font-weight: bold;font-size:16px; margin-bottom:5px;  }

.cultureInner h4 {
    font-size: 22px;
    text-indent: 1em;
    border-left: 5px solid #0f94e1;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.cultureInner .a2 h4 {
   margin-left:15px;
}

#content .cultureInner{width:1000px; margin:0 auto 50px ; }
#content .storySample{width:100%; height:100%;}
#content .storySample img{width:100%; }
#content .storyList{overflow:hidden; width:100%;}
#content .storyBox{width:32%; margin-right:2%; margin-top:20px; background-color:#eee; float:left;}
#content .storyBox img{width:100%;}
#content .storyBox dd{padding:6% 8% 8% 8%;}
#content .storyBox span{display:block; font-size:13px; font-weight:bold;  }
#content .storyBox.storyNomargin{margin-right:0;}
#content .storyBox strong{display:block; color:#0f94e1; font-size:18px; margin:5px 0;}

.cultureInner .a3 h4, .cultureInner .a4 h4 {
    
  
	padding:0;
	margin:0;

}